.final-price {
    color: forestgreen;
    font-weight: bold;
    /*font-size: 16px;*/
}

.base-price {

}

.btn-in-table {
    border-radius: 5px;
}

.price-modal {
    /*border-radius: 15px;*/
    max-width: 750px;
}

.font-price-table {
    font-weight: normal;
    font-size: 18px;
}

.state-dropdown {
    font-weight: normal;
    font-size: 16px;
}
